/** @format */

.item .name {
 color: tomato !important;
 font-size: 20px !important;
}
.item .price {
 text-align: center;
 color: rgba(0, 0, 0.699);
 font-size: 20px !important;
}
.item {
 box-shadow: 0 0 3px rgba(110, 110, 110, 0.781);
 padding: 15px;
 margin-top: 20px !important;
}
.item button {
 margin-top: 10px !important;
 background-color: green !important;
 color: white !important;
}
input {
 border: 2px solid rgb(0, 39, 31) !important;
}

input:focus {
 box-shadow: none !important;
 outline: none !important;
}
.category {
 border: 2px solid rgb(179, 176, 176);
 margin-right: 50px !important;
 align-items: center;
 padding-left: 25px !important;
 border-radius: 10px;
 cursor: pointer !important;
}
.category h4 {
 margin-right: 25px !important;
 font-size: 22px;
}
.category img {
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 margin: -3px;
}
.selected-category {
 border: 4px solid rgb(3, 38, 66);
}
